<%= content_for :title do %>
  Home Page
<% end %>
<%= content_for :body do %>
  <h4>
    <% if !current_user  %>
      Please login to <%= link_to 'Login Page', sessions_login_path %>
    <% else %>
      Welcome, <%= current_user.username %>
    <% end %>
  </h4>
<% end %>
